/* General styling */
body, html, #root, .App {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent scrollbars */
}

/* Header styling with logo */
.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.logo {
  height: 50px;
}

/* Promo box styling */
.promo-box {
  position: absolute;
  top: 50%;
  left: calc(37%);
  transform: translate(-50%, -50%);
  background-color: pink;
  padding: 50px;
  width: 375px;
  color: white;
  text-align: center;
  font-size: 45px;
  border-radius: 5px;
  z-index: 3;
}

/* Video container styling */
.video-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end; /* Align video to the right */
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

/* Video styling */
.video {
  max-width: 100%; /* Restrict video width to 100% of the container */
  max-height: 80vh; /* Limit video height to 80% of the viewport height */
  width: auto;
  height: auto;
  object-fit: contain; /* Maintain aspect ratio */
  cursor: pointer;
  z-index: 1;
}

/* Footer styling */
.footer {
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 14px;
  width: 100%;
  position: relative;
  bottom: 0;
  box-sizing: border-box;
  height: 60px; /* Fixed height for footer */
}
